*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    display:flex;
    justify-content:center;
    margin-top:50px;
}

table{
    border-collapse:collapse;
    width:600px;
    text-align:center;
    border:3px solid black;
}

th, td{
    border:1px solid black;
    padding:10px;
}

.title{
    font-weight:bold;
}

