*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background:#a9daef;
    padding: 20px;
    margin: 0px 100px;
    flex-wrap: wrap;
}
nav ul{
    gap:20px;
    display: flex;
    list-style:none;
    justify-content: space-around;
    font-size: 1.3rem;
    
}
main{
   margin: 0px 100px;
   background-color:#AFEEEE;
    padding: 50px;
}
.cards{
    display: flex;
    justify-content: space-around;
    gap:40px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.cards p{
    text-align: center;
    margin-bottom: 5px;
}
 section img{
    align-items: center;
    width: 100%;
}
button{
    align-items: center;
    display:block;
    margin:5px 0 0 0;
    background-color: rgb(149, 139, 252);
    color: white;
    bottom: 0;
    width: 100px;
    padding: 10px;
    border:none;
    border-radius: 8px;
}